results/2026_04_24T17_03_51_ncsnpp_vesde_bart_True_alpha_348_std_N_100zeropadding/checkpoints/checkpoint_500.pth
results/2026_04_24T17_03_51_ncsnpp_vesde_bart_True_alpha_348_std_N_100zeropadding/checkpoints/checkpoint_300.pth
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.DS_Store

logs/
runs/
checkpoints/
outputs/
results/
wandb/

*.nii
*.nii.gz
*.hdr
*.img
*.dat
*.bin
*.zip
*.tar
*.tar.gz
